html {
    min-height: 100vh;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



@mixin fontface($family, $localname, $filename, $weight, $style) {
    @font-face {
        font-display: swap;
        font-family: $family;
        src: local('#{$localname}'), 
        /*url('../fonts/#{$filename}.woff2') format('woff2'),*/
        url('../fonts/#{$filename}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}
@include fontface('Arial', 'ArialMT', ArialMT, 400, normal);
@include fontface('Arial', 'Arial-BoldMT', Arial-BoldMT, 700, normal);
@include fontface('Georgia', 'Georgia', Georgia, 400, normal);
@include fontface('Georgia', 'Georgia-Bold', Georgia-Bold, 700, normal);

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-size: 15px;
    line-height: 160%;
    font-family: var(--font-arial), 'Arial', sans-serif;
    font-weight: 400;
    color: var(--color-dark-xl);
    font-style: normal;
    background: var(--color-light-xl);
}

main {
    flex-grow: 1;
    background-color: var(--white);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.body {
    position: relative;
}

.table-responsive {
    overflow: hidden;
    overflow-x: auto;
}

.container {
    padding-left: var(--padding);
    padding-right: var(--padding);

    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;    
}







