$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

:root {
    --font-georgia: 'Georgia';
    --font-arial: 'Arial';
    --color-light-xl: #ffffff;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen-gradient-background: url(/img/noise_lines_transparent@2X.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        #211F20;
    --footer-gradient-background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    --padding: 40px;
    --padding-top: 80px;
    --padding-bottom: 100px;
    --margin-standart: 25px;

    @media (max-width: $tablet) {
        --padding: 30px;
    }
}



.h2 {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
}

.h3 {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h3-mobile {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-style: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h4 {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-style: normal;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h5 {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.h5-modal-window {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

@mixin paragraph-l {
    margin-top: 0;
    font-family: var(--font-arial);
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s {
    margin-top: 0;
    font-family: var(--font-arial);
    font-size: 12px;
    line-height: 150%;
}

.paragraph-mobile-menu {
    margin-top: 0;
    font-family: var(--font-arial);
    font-size: 32px;
    line-height: 160%;
}

@mixin logo-title {
    margin-top: 0;
    font-family: var(--font-georgia);
    font-weight: bold;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin logo-subtitle {
    margin-top: 0;
    font-family: var(--font-arial);
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.1em;
}

@mixin card-hover {
    background: var(--color-primary-light);
    cursor: pointer;
}