.catalog {
    background-color: var(--color-light-l);
}

.catalog__wrapper {
    display: grid;
    grid-row-gap: 60px;
    justify-items: center;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.catalog__title {
    margin-bottom: 0;
    text-align: center;
}

.catalog__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    justify-content: center;
}

@media (max-width: 1279px) {
    .catalog__cards {
        grid-template-columns: repeat( auto-fit, minmax(0, 270px) );
        grid-column-gap: 40px;
        grid-row-gap: 30px;        
        max-width: 580px; 
    }

    .catalog__wrapper {
        grid-row-gap: 30px;
        padding-bottom: 76px;
    }

    .catalog__pagination {
        padding-top: 10px;
    }

    .catalog__card {
        &:last-child,
        &:nth-last-child(2) {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .catalog__wrapper {
        grid-row-gap: 42px;
        
        padding-top: 42px;
        padding-bottom: 42px;             
    }

    .catalog__title {
        font-size: 25px;
        line-height: 130%;
    }

    .catalog__card {
        &:nth-last-child(5),
        &:nth-last-child(4),
        &:nth-last-child(3) {
            display: none;
        }
    }

    .catalog__pagination {
        padding-top: 0;
    }

    .catalog__cards {
        max-width: 270px;        
    }
}