.footer {
    background: var(--color-dark-3xl);
    background: var(--footer-gradient-background);
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 135px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: right 40px top 40px;
}

.footer__item {
    display: grid;
    align-content: space-between;
    grid-gap: 32px;
    padding-top: 16px;
}

.footer__header {
    margin-bottom: 0;
    color: var(--color-light-xl);
}

.footer__link,
.footer__adress {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-primary);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    svg {
        flex-shrink: 0;
        display: block;
        margin-right: 20px;
    }

    &:hover,
    &:focus {
        color: var(--color-primary-light);
    }
}

.footer__img-wrapper {
    margin-left: auto;
    margin-bottom: -60px;
}

@media (max-width: $tablet) {
    .footer__wrapper  {
        grid-template-columns: 1fr 1fr;
    }
    
    .footer__img-wrapper {
        //justify-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
        img {
            margin-right: auto;
            margin-left: auto;
        }
    }
}