.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header--main {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: transparent;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--inside {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-light-xl);
}

.header--inside .header__logo {
    color: var(--color-dark-l);
}

.header__toggler {
    display: none;
}

@media (max-width: 760px) {
    .header__menu {
        display: none;
    }

    .header__toggler {
        display: block;
    }

    .header__wrapper {
        padding-right: 53px;
    }

    .header__toggler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 22px;
        background-color: transparent;
        border: 0;

        span {
            display: block;
            width: 30px;
            height:2px;
            background-color: var(--color-primary);
        }
    }
}

