.help__wrapper {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.help__h2 {
    margin-bottom: 60px;
    text-align: center;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 120px;
    grid-row-gap: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.help__item {
    display: flex;
    //flex-basis: 230px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 30px;
    text-align: center;

    svg {
        display: block;
        width: 60px;
        height: 60px;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-georgia);
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    }
}

@media (max-width: 1279px) {
    .help__list {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 70px;
        grid-row-gap: 55px;
        justify-items: center;
    }
}

@media (max-width: 767px) {
    .help__wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .help__h2 {
        font-size: 25px;
        line-height: 130%;
        margin-bottom: 42px;
    }

    .help__list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 31px;
    }

    .help__item {
        grid-row-gap: 20px;
    }

    .help__item p {
        font-size: 15px;
        line-height: 110%;
    }

    .help__item svg {
        width: 50px;
        height: 50px;
    }
}