.card {
    background-color:  var(--color-light-l);
}

.card__wrapper {
    display: flex;
    grid-gap: 30px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-right: 182px;
    padding-left: 182px;
}

.card__h2 {
    margin-bottom: 0;
}

.card__content {
    display: grid;
    justify-items: flex-start;
    grid-gap: 19px;
    max-width: 380px;
}

.card__bank {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-georgia);
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.card__bank-details {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-dark-l);
    font-family: var(--font-georgia);
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: 9px;

    svg {
        display: block;
        width: 30px;
        height: 23px;
        margin-right: 15px;
    }

    &:hover,
    &:focus {
        background-color: var(--color-primary-light);
    }
}

.card__details {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

.card__img-wrapper {
    display: flex;
    align-items: baseline;
}

@media (max-width: $tablet) {
    .card__wrapper {
        flex-direction: column;
        grid-gap: 60px;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    .card__img-wrapper {
        order: 1;
    }
}