.main-friends {    
    color: var(--color-dark-l);
    background-color: var(--color-light-l);
}

.main-friends__wrapper {
    display: grid;
    justify-items: center;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.main-friends__h2 {
    margin-bottom: 60px;
    text-align: center;
}

.main-friends__slider {    
    margin-bottom: 60px;
}

@media (max-width: 1279px) {
    .main-friends__slider {
        width: 708px;
    }
}

@media (max-width: 767px) {
    .main-friends__wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .main-friends__h2 {
        font-size: 25px;
        line-height: 130%;
        margin-bottom: 42px;
    }

    .main-friends__slider {
        margin-bottom: 42px;
        width: 270px;
    }
}