.about__wrapper {
    display: flex;
    align-items: center;
    grid-gap: 117px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    max-width: 927px;
}

.about__h2 {
    margin-bottom: var(--margin-standart);
}

.about__content {
    @include paragraph-l;
    display: grid;
    align-content: center;

    p {
        margin-top: 0;        
        margin-bottom: var(--margin-standart);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about__img-wrapper {
    flex-basis: 300px;
    flex-shrink: 0;
}

@media (max-width: $tablet) {
    .about__wrapper {
        flex-direction: column;
        align-items: center;
        grid-gap: 80px;
    }

    .about__img-wrapper {
        order: 1;
    }

    .about__content {
        max-width: 430px;
    }
}