.menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 35px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    position: relative;
    display: flex;
    padding-bottom: 3px;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 0;
        height: 3px;
        background-color: transparent;
    }

    &:hover,
    &:focus {
        color: var(--color-light-s);
        cursor: pointer        
    }

    .header--inside & {
        color: var(--color-dark-l);

        &:hover,
        &:focus {
            color: var(--color-dark-3xl);
        }
    }
}

.menu__link--active::after {
    left: 0;
    width: 100%;
    background-color: var(--color-primary);

    .header--inside & {
        color: var(--color-dark-l);
    } 
}

@media (max-width: 1279px) {
    .header--main {
        top: 0;
    }
}

@media (max-width: 767px) {  
    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 40px;
        padding-top: 70px;
    }

    .menu__link {
        font-size: 32px;
        line-height: 160%;

        .header--inside.opened & {
            color: var(--color-dark-s);
    
            &:hover,
            &:focus {
                color: var(--color-light-s);
            }
        }
    }

    .menu__link--active::after {

        .header--inside.opened & {
            color: var(--color-primary);
        } 
    }
        

 
}