.pagination {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
}

.pagination__item {
    color: var(--color-dark-3xl);
    font-family: var(--font-georgia);
    font-size: 20px;
    line-height: 115%;
}

.pagination__item:last-child,
.pagination__item:nth-last-child(2) {
    transform: scale(-1,1);
}

@media (max-width: 600px) {
    .pagination {
        grid-gap: 10px;
    }
}